body {
background-color: #669933;
}

.main-img {
width: 300px;
height: 150px;
top: 50%;
left: 50%;
margin-top: -150px;
margin-left: -150px;
}

.layer1 {
margin: 0;
position: absolute;
top: 50%;
left: 50%;
transform: translate(-50%,-50%);
}
